@media all and (min-width: 480px) {
    .Login {
        height: 100%;
        display: grid;
    }
  
    .Login form {
        align-self: center;
        justify-self: center;
        margin: 0 auto;
        width: 25%;
    }

    .Login h2{
        margin: 1.5rem 0;
        text-align: center;
    }
  }