.Search{
    border: none;
    padding: 0.7vw;
    width: 70%;
    margin-right: 0.5vw;
    font-size: calc(0.2vw + 40%);
}

.Search-button{
    border: none;
    color: white;
    -webkit-appearance: none;
    background-color: darkcyan;
    padding: 0.7vw;
}

.Search-results{
    position: relative;
    padding: 0.3vw 0.7vw;
    top: 0.2vw;
    width: 70%;
    min-height: 0px;
    overflow: scroll;
    background-color: white;
    color: darkcyan;
    font-size: calc(0.9vw + 40%);
}

.Search-result{
    cursor: pointer;
}

.hide{
    opacity: 0;
  }
  
.show{
    /* height: auto; */
    min-height: auto;
    /* max-height: 10vw; */
    /* display: block !important; */
}