
.Single-forecast{
    display: grid;
    width: 90%;
    height: 100%;
}

.Single-forecast .Header-weather {
    font-size: calc(1vw + 30% );
}

.Single-forecast .Temp{
    font-size: calc(1.3vw + 60%);
    padding: 0.5vw;
    color: darkcyan;
}

.Single-forecast.Current-weather{
    padding: 1.5vw;
}

@media screen and (max-width: 900px){
    .Single-forecast.Current-weather{ 
        margin: 0;
        width: 100%;
    }
}

.Single-forecast .Icon{
    width: 8vw;
    height: 7vw;
}

.Single-forecast .Wind{
    font-size: calc(1vw + 30% );
}

.Single-forecast .Weather{
    padding: 0.5vw;
    font-size: calc(0.7vw + 30%);
}

