.Search{
    border: none;
    padding: 0.7vw;
    margin-right: 0.5vw;
    font-size: calc(0.2vw + 30%);
}

.Search-container{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-self: start;
}

.Search-button{
    border: none;
    color: white;
    -webkit-appearance: none;
    background-color: darkcyan;
    padding: 0.7vw;
    font-size: calc(0.2vw + 30%);
}

@media screen and (max-width: 900px){

    .Search-container{
        padding: 1vw 1vw 0 1vw;
    }

    .Search{
        font-size: calc(0.6vw + 30%);
    }

    .Search-button{
        font-size: calc(0.6vw + 30%);
    }
}

.Search-results{
    position: relative;
    padding: 0.3vw 0.7vw;
    top: 0.2vw;
    width: 98%;
    opacity: 0;
    overflow: scroll;
    background-color: white;
    color: darkcyan;
    font-size: calc(0.9vw + 40%);
}

.Search-result{
    cursor: pointer;
}
  
.show{
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    
}

@keyframes show {
    0%{
        opacity: 0;
        height: 0pz;
        min-height: 0px;
    }
    100%{
        opacity: 1;
        min-height: auto;
    }
}