.quizzes{
    max-width: 100%;
}

.categories{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.category{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 20vw;
    background-color: skyblue;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

